@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Movie
<div class="row">
    <div class="col-sm-9">
        <h3 style="text-align: center;font-size:40px;color:orange;">@localizer["addMovie"]</h3>
        <div style="background-color: #cccccc; padding:50px;">
            <form asp-controller="Home" asp-action="Addmovie">
                <div class="form-group">
                    <p>@localizer["movieName"]</p>
                    <input type="text" asp-for="@Model.Name" required />
                </div>
                <div class="form-group">
                    <p>@localizer["shortDesc"]</p>
                    <input type="text" asp-for="@Model.shortDescription" required />
                </div>
                <div class="form-group">
                    <p>@localizer["desc"]</p>
                    <input type="text" asp-for="@Model.Description" required />
                </div>
                <div class="form-group">
                    <p>@localizer["img"]</p>
                    <input type="text" asp-for="@Model.ImageUrl" required />
                </div>
                <div class="form-group">
                    <p>@localizer["catId"]</p>
                    <input type="text" asp-for="@Model.CategoryId" required />
                </div>
                <div class="form-group"><button type="submit" class="btn" style="background-color:orange">@localizer["save"]</button></div>

            </form>
        </div>

    </div>
</div>
